<html>
    <body>
        <h1>upload a photo</h1>
        <form action="result" method="POST" enctype="multipart/form-data">
            <label for="title">Title</label><br>
            <input name="title" id="title" type="text"/><br>
            <label for="discription">Discription</label><br>
            <input name="discription" id="discription" type="text"/><br>
            <label for="photo">Photo</label><br>
            <input name="photo" id="photo" type="file"/><br>

            <input type="submit" value="Upload"/>
        </form>
    </body>
</html>